@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0;
    color: #fff;
    background-color: gray; /* 이 줄을 추가하거나 변경하세요 */
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('ktc-hero-solutions-servers-data-centers-ai-challenges-and-opportunities-lg.jpg');
    background-size: cover;
    animation: fadeIn 1s ease-out;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    z-index: 1000; /* 헤더의 계층을 높임 */
}

/* 요소별로 페이드인 효과 적용 예시 */
main, footer {
    opacity: 0; /* 초기 상태에서 요소를 숨김 */
    animation: fadeIn 1.5s ease-out forwards; /* 애니메이션 적용 */
    padding: 20px;
    text-align: center;
    background-color: #f8f9fa; /* 푸터와 동일한 배경색 */
}

header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('https://image.semiconductor.samsung.com/image/samsung/p6/semiconductor/solutions/home/kv-ai-pc_3x.png?$ORIGIN_PNG$');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    transition: top 0.3s;
    z-index: 1000; /* 헤더의 계층을 높임 */
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

header nav ul li {
    margin-right: 10px;
}

header #searchInput {
    margin-left: auto;
    margin-right: 20px; /* 오른쪽 여백 추가 */
    padding: 5px;
    font-size: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease; /* 색상 전환 효과 추가 */
}

nav ul li a:hover {
    text-decoration: underline;
    color: #FFD700; /* 호버 시 색상 변경 */
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation-delay: 1s; /* 메인 콘텐츠가 나타나는 시간을 조절 */
    min-height: calc(100vh - 50px); /* 최소 높이를 뷰포트 높이에서 footer 높이를 뺀 값으로 설정 */
    padding-bottom: 50px; /* footer와 겹치지 않도록 padding 설정 */
    flex: 1;
    padding-top: 100px;
}

footer {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    animation-delay: 1.5s; /* 푸터가 나타나는 시간을 조절 */
    margin-top: 20px; /* main과 footer 사이의 여백 추가 */
    background-color: #333; /* 배경색 설정 */
    color: white; /* 텍스트 색상 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
    padding: 10px; /* 내부 여백 설정 */
    transform: translateY(100%); /* 푸터를 화면 밖으로 이동 */
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out; /* 부드러운 전환 효과 */
}

.highlight {
    background-color: yellow;
    transition: background-color 0.5s ease; /* 배경색 전환 효과 */
}

/* 처음에는 main 컨텐츠가 보이지 않도록 설정 */
/* main 컨텐츠의 배경색을 검은색으로 설정 */
/* main 내용이 화면에 들어올 때의 처리 */
.hidden-content {
    background-color: black; /* 배경색 설정 */
    color: white; /* 텍스트 색상 설정 */
    transform: translateY(100vh); /* 초기 상태에서 화면 밖으로 설정 */
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out; /* 부드러운 전환 효과 */
}

.hidden-content_2 {
    background-color: black; /* 배경색 설정 */
    color: white; /* 텍스트 색상 설정 */
    transform: translateY(40vh); /* 초기 상태에서 화면 밖으로 설정 */
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out; /* 부드러운 전환 효과 */
}

.show-content {
    transform: translateY(0); /* 스크롤 시 화면 안으로 */
    opacity: 1;
}

/* 기존 스타일에 추가 */
.main-content {
    min-height: 100vh; /* 최소 높이를 화면의 높이와 동일하게 설정 */
    padding-bottom: 50px; /* footer와 겹치지 않도록 padding 추가 */
}

.footer {
    margin-top: 20px; /* main과의 간격을 주기 위해 상단 마진 추가 */
}

.main-image {
    /* 화면의 오른쪽에 이미지를 정렬합니다. */
    float: right;
    /* 이미지 주변의 여백을 조정합니다. */
    margin: 20px;
}

/* 스크롤에 따라 푸터가 나타나게 하는 클래스 */
.show-footer {
    transform: translateY(0);
    opacity: 1;
}

.main-intro-image {
    position: absolute; /* 절대 위치 */
    top: 230px; /* 헤더 아래에 위치 */
    right: 400px; /* 우측 여백 */
    max-width: 200px; /* 이미지의 최대 너비 */
    z-index: 10; /* 다른 요소 위에 오도록 z-index 설정 */
}

.main-intro-image img {
    width: 250%; /* 이미지를 컨테이너에 맞춤 */
    height: auto; /* 비율 유지 */
}

img {
    border: 5px solid white; /* 테두리 두께와 색상 설정 */
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5); /* 그림자 크기, 방향, 퍼짐 정도, 색상 설정 */
}

.intro-text {
    position: absolute; /* 절대 위치 사용 */
    top: 50%; /* 상위 요소 기준으로 중앙 정렬 */
    left: 300px; /* 오른쪽 여백 */
    transform: translateY(-50%); /* Y축 기준으로 자신의 높이의 절반만큼 위로 이동 */
    color: white; /* 텍스트 색상 */
    z-index: 20; /* 다른 요소 위에 오도록 z-index 설정 */
}

.intro-text1 {
    position: absolute; /* 절대 위치 사용 */
    top: 40%; /* 상위 요소 기준으로 중앙 정렬 */
    left: 100px; /* 오른쪽 여백 */
    transform: translateY(-80%); /* Y축 기준으로 자신의 높이의 절반만큼 위로 이동 */
    color: white; /* 텍스트 색상 */
    z-index: 20; /* 다른 요소 위에 오도록 z-index 설정 */
}

.intro-text1 h2{
    font-size: 5em; /* 큰 글자 크기 */
}

.intro-text h2 {
    font-size: 3em; /* 큰 글자 크기 */
}

.intro-text p {
    margin-top: 5px; /* 상단 여백 */
    font-size: 1em; /* 작은 글자 크기 */
}

#seeMore {
    margin-top: 20px; /* 상단 여백 */
    padding: 10px 20px; /* 내부 여백 */
    font-size: 1em; /* 글자 크기 */
    background-color: #FFD700; /* 배경색 */
    color: black; /* 글자 색상 */
    border: none; /* 테두리 제거 */
    cursor: pointer; /* 마우스 포인터 변경 */
    border-radius: 5px; /* 모서리 둥글게 */
}
.content {
    padding-top: 60px; /* 헤더 높이만큼 패딩을 추가 */
    height: 2000px; /* 예제를 위한 긴 내용 */
    background-color: #f4f4f4;
}
.content1 {
    padding-top: 20px; /* 헤더 높이만큼 패딩을 추가 */
    height: 2000px; /* 예제를 위한 긴 내용 */
    background-color: #f4f4f4;
}
